@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

 

.wrapper-scroll {
    overflow-x: hidden;
    position: relative;
}

 

.mask {
    width: 0;
}

svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;
}

 
 

#horizontal {
    display: flex;
    width: 300vw;
}

 
 
/* ul {
    list-style-type: none;
    display: flex;
    gap: 3em;
    width: 100%;
    height: 300px;
    padding: 0;

} */

.sec {
    width: 100vw;
    height: 100vh;
    padding:  20vw 10vw;
    border: 2px solid red;
}


/* li {
    background: white;
    border-radius: .3em;
    flex-grow: 1;
} */

/* section {
    height: 100vh;

} */